{% extends 'music/base.html' %}

{% block body %}


{% if all_songs %}
<center><h3 class="heading"> OUR COLLECTION: SONGS AND VIDEOS AVAILABLE TO STREAM CURRENTLY </h3></center>
<br>
<hr>
<br>
  {% for song in all_songs %}
      <div class="col-sm-4 col-lg-2">
          <div class="thumbnail">
              <a href="{% url 'music:detail' song.songid %}">
                  <img src="{{ song.albumlogo.url}}" class="img-responsive">
              </a>
              <div class="caption-title">
                  <h3>{{ song.songtitle }}</h3>
              </div>
              <div class="caption-artist">
                  <h4>{{ song.artist }}</h4>
              </div>
              <div class="details-button">
                <!-- View Details -->
                <a href="{% url 'music:detail' song.songid %}" class="btn btn-primary btn-sm" role="button"> View Details </a>
              </div>

          </div>
      </div>
      {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
  {% endfor %}
{% else %}
  <div class="col-sm-12">
      <br>
      <a href="{% url 'music:showaudio' %}">
          <button type="button" class="btn btn-success">
              <span class="glyphicon glyphicon-plus"></span>&nbsp; Upload Audio
          </button>
      </a>
  </div>
{% endif %}

{% if all_videos %}

  {% for video in all_videos %}
      <div class="col-sm-4 col-lg-2">
          <div class="thumbnail">
              <a href="{% url 'music:videodetail' video.videoid %}">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFl78Bpyt5pQb0D06tqzH3MmHSxWOUFmAyBNqIDxYU37EBqhB91g" class="img-responsive">
              </a>
              <div class="vid-caption-title">
                  <h3>{{ video.videotitle }}</h3>
              </div>
              <div class="vid-caption-date">
                <h4>{{ video.releasedate }}</h4>
              </div>

              <div class="video-details-btn">
                                  <!-- View Details -->
                  <a href="{% url 'music:videodetail' video.videoid %}" class="btn btn-primary btn-sm" role="button"> View Details </a>

              </div>

          </div>
      </div>
      {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
  {% endfor %}
{% else %}
  <div class="col-sm-12">
      <br>
      <a href="{% url 'music:showvideo' %}">
          <button type="button" class="btn btn-success">
              <span class="glyphicon glyphicon-plus"></span>&nbsp; Upload Videos
          </button>
      </a>
  </div>
{% endif %}


{% endblock %}

<!-- /music/{{ song.songid } -->
